<h2>Top group</h2>
<div class="groups-menu">
<!--  <a *ngFor="let gr of groups.get()" routerLink="/detail/{{gr.group_id}}">-->
<!--    {{gr.name}}-->
<!--  </a>-->
</div>
<!--<li *ngFor="let gr of groups.get()">-->
<!--  <div><span>id: </span>{{gr.group_id}}</div>-->
<!--  <div><span>name: </span>{{gr.name}}</div>-->
<!--  <div>-->
<!--    <label for='${gr.group_id}'>Group's name</label><br>-->
<!--    <input id='${gr.group_id}'-->
<!--           (change)="onSelect(gr)"-->
<!--           placeholder="name">-->
<!--  </div>-->
<!--  <button type="button" (click)="onSelect(gr)" >Increase id</button>-->
<!--</li>-->
<app-group-manager></app-group-manager>
